.header{
    text-align: center;
    background-image: linear-gradient(rgba(53, 47, 47, 0.548),rgba(86, 86, 151, 0.836));
    padding: 10px;
    width: 70%;
   border-radius: 7px;
   padding-top: 20px;
   margin-top: 40px;
    
}
.header h3{
    color: azure;
}